body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 800px;

}

.input-field {
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  border: 1.5px solid darkgray;
  padding: 12px 16px;
  background: transparent;
  width: 100%;
  transition: all 0.3s ease;
  color: white;
}

.input-field::placeholder {
  color: white;
}

.input-field:focus {
  border-color: darkgray;
  outline: 1.5px solid darkgray;
}

.input-field:focus-within {
  border-color: darkgrey;
}

.btn {
  padding: 0 25px;
  font-weight: 600;
  font-size: 18px;
  height: 45px;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.input-label {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.input-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.loader {
  position: absolute;
  background: rgba(125, 152, 120, .5);
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}